
<div class="text-center padded">
  <ul class="list-inline text-center">
    <% ["Victor", "Johny"].each do |member| %>
      <li>
        <%= image_tag "kool-and-the-gang.jpeg", class: "img-rounded large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>

